.Banner {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.Banner img {
  width: 100%;
}

.content {
  padding: 1rem;
}

.content p {
  margin-bottom: 0.8rem;
}

.purpose,
.desc {
  color: gray;
  letter-spacing: 1px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
}

.content button {
  padding: 0.5rem 1rem;
  background-color: #f2f3f5;
  border: none;
  outline: none;
  border-radius: 10px;
}

.content button a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

@media screen and (min-width: 600px) {
  .Banner {
    width: 70%;
  }
}

@media screen and (min-width: 700px) {
  .Banner {
    width: 65%;
  }
}

@media screen and (min-width: 1024px) {
  .Banner {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .Banner img {
    width: 500px;
    height: 300px;
  }
}
